a {
  text-decoration: none;
}
li {
  text-decoration: none;
}
li:hover {
  background-color: lightskyblue;
}
body,
html {
  background-color: skyblue;
}
/* Style the tab */
/* .tab {
    overflow: hidden; */
/* border: 1px solid #ccc; */
/* background-color: #f1f1f1;
} */

/* Style the buttons that are used to open the tab content */
.tab button {
  /* background-color: inherit; */
  /* border: none; */
  /* outline: none; */
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
    background-color: #ddd;
} */

/* Create an active/current tablink class */
/* .tab button.active {
    background-color: #ccc;
} */

/* Style the tab content */
.tabcontent {
  display: none;
  padding-top: 50px;
  /* border: 1px solid #ccc;  */
  /* border-top: none; */
}
